<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/cabecera-styles.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> My Second Flask Frontend</h1>
        <ul>          
            <li>
                <a href="{{url_for('home')}}">Inicio</a>                
            </li>
            <li>
                <a href="{{url_for('home')}}">Productos</a>                
            </li>
            <li>
                <a href="{{url_for('home')}}">Servicios</a>                
            </li>
            <li>
                <a href="{{url_for('home')}}">Contactenos</a>                
            </li>
        </ul>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>